a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 75%;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 2px 30px;
}

header {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.h-links,
.h-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.h-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}