a {
    text-decoration: none;
    color: inherit;
}

.pv {
    max-width: 75%;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 2px 30px;
}

header {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.h-links,
.h-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.h-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

/*done with the header portion*/

.bricks > p {
    font-size: 40px;
}

/*QUOTE*/

.quote {
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.dquote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    margin: 0 200px;
}

.credit {
    flex: 1;
    text-align: end;
    margin: 0 200px;
    margin-top: 10px;
}

.s-text {
    background-color: #3882f6;
    color: #e5e7eb;
}

.s-message {
    font-weight: bold;
}

/*COPYRIGHT*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
}